.banner {
    background-color: #1e1e1f;
    color: #ff7b2c;
    text-align: center;
    letter-spacing: 1px;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
