.discount {
    &__heading {
        font-weight: 500;
        font-family: "Oxanium", sans-serif;
        font-size: 1.75rem;
        color: #282829;
    }
    &__container {
        z-index: 1;
        position: fixed;
        right: 0;
        top: 15%;
        transition: transform 500ms ease-in-out;
        transform: translateX(100%);
    }
    &__button {
        background-color: #ff7b2c;
        padding: 0.4rem 2rem;
        position: absolute;
        font-weight: 500;
        cursor: pointer;
        transform: rotate(90deg);
        transform-origin: top left;
        left: 0;
        top: 35%;
        z-index: 1;
    }
    &__modal {
        width: 400px;
        height: 400px;
        background: url("/assets/images/pictures/discount.jpg") center / cover no-repeat;
        z-index: 2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__form {
        margin-bottom: 1rem;
        input[type="email"] {
            margin-left: 1rem;
            padding: 1rem;
            width: 100%;
            &:focus {
                outline: none;
            }
            border: 0;
        }
        input[type="submit"] {
            border-radius: 2px;
            background-color: none;
            padding: 0.75rem 1rem;
            cursor: pointer;
            font-weight: 500;
            border: 0;
            text-transform: uppercase;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        border-radius: 2px;
        margin: 1rem 0;
        border: 1px solid #ff7b2c;
        background-color: #fff;
        max-width: 500px;
        i {
            transform: translateX(65%);
        }
    }
    &__container:hover {
        transform: translateX(0);
    }
}
