<footer class="footer py-2">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__column">
        <h3 class="footer__list-heading">
          Om Oss <i class="icon icon--sm icon--plus"></i>
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__list-heading">
          Returer & Policy <i class="icon icon--sm icon--plus"></i>
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__list-heading">
          Kontakt <i class="icon icon--sm icon--plus"></i>
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__list-heading">
          FAQ <i class="icon icon--sm icon--plus"></i>
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-link">Placeholder</a>
          </li>
        </ul>
      </div>
    </div>
    <img
      class="footer__logo"
      src="/assets/images/logos/kinforma-white-full.svg"
      alt=""
    />
  </div>

  <div class="footer__picture"></div>
</footer>
