<header class="header">
  <include file="/src/templates/layout/navigation.html" />

  <div class="container">
    <div class="header__inner">
      <button class="header__burger" aria-label="Toggle menu">
        <img src="/src/assets/images/icons/burger.svg" alt="" />
      </button>

      <a href="/" class="header__logo">
        <img src="/src/assets/images/logos/kinforma.svg" alt="Kinforma Logo" />
      </a>
      <div class="header__actions">
        <a class="header__action" href="/" aria-label="Search">
          <img src="/src/assets/images/icons/search.svg" class="icon" />
        </a>
        <a class="header__action" href="/" aria-label="Cart">
          <img src="/src/assets/images/icons/cart.svg" class="icon" />
        </a>
      </div>
    </div>
  </div>
</header>
