<nav class="nav">
  <div class="container">
    <i class="nav__close icon icon--cross"></i>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Profil <i class="icon icon--arrow"></i>
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Nytt <i class="icon icon--arrow"></i> </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Shoppa <i class="icon icon--arrow"></i>
        </a>
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Skor</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Smycken</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Klockor</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Accessoarer</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Om oss <i class="icon icon--arrow"></i>
        </a>
      </li>

      <li class="nav__setting">
        <a href="/" class="">SV &#8595;</a>
      </li>
      <li class="nav__setting">
        <a href="/" class="">SEK (kr) &#8595;</a>
      </li>
    </ul>
  </div>
</nav>
