<nav class="nav">
  <div class="container">
    <img
      src="/src/assets/images/icons/close.svg"
      class="nav__close icon"
      alt=""
    />
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Profil <img src="/src/assets/images/icons/arrow.svg" class="icon" />
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Nytt <img src="/src/assets/images/icons/arrow.svg" class="icon" />
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Shoppa <img src="/src/assets/images/icons/arrow.svg" class="icon" />
        </a>
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Skor</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Smycken</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Klockor</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Accessoarer</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link"
          >Om oss <img src="/src/assets/images/icons/arrow.svg" class="icon" />
        </a>
      </li>
    </ul>
  </div>
</nav>
