<div class="categories">
  <div class="categories__inner">
    <a href="/" class="categories__category">
      <img
        src="/assets/images/categories/category.png"
        alt=""
        class="categories__category-img"
      />
      <h3 class="categories__category-name">
        Skor <i class="icon icon--sm icon--arrow"></i>
      </h3>
    </a>
    <a href="/" class="categories__category">
      <img
        src="/assets/images/categories/category.png"
        alt=""
        class="categories__category-img"
      />
      <h3 class="categories__category-name">
        Smycken <i class="icon icon--sm icon--arrow"></i>
      </h3>
    </a>
    <a href="/" class="categories__category">
      <img
        src="/assets/images/categories/category.png"
        alt=""
        class="categories__category-img"
      />
      <h3 class="categories__category-name">
        Accessoarer <i class="icon icon--sm icon--arrow"></i>
      </h3>
    </a>
  </div>
</div>
