<div class="collection py-4">
  <div class="collection__product-video">
    <video autoplay loop muted playsinline>
      <source src="/assets/videos/lava-watch.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="collection__product collection--gradient-1 py-4">
    <div class="collection__product-caption">Varje timme räknas</div>

    <div class="container">
      <div class="collection__product-inner">
        <img
          src="/assets/images/products/collection/black-ring.png"
          class="collection__product-image"
        />
        <div class="collection__product-headline">Mörk Stål</div>
        <div class="collection__product-description">
          Våran stilrena, svarta färg som dekoreras med flytande metall och
          reflektiva ytor.
        </div>

        <a href="" class="button button--dark">
          Köp <i class="icon icon--cart icon--dark"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="collection__product collection--gradient-2 py-4">
    <div class="container">
      <div class="collection__product-inner">
        <img
          src="/assets/images/products/collection/black-ring.png"
          class="collection__product-image"
        />
        <div class="collection__product-headline">Silver</div>
        <div class="collection__product-description">
          En silvrig ring som ger din stil ett rent, tidlöst och elegant
          skimmer.
        </div>

        <a href="" class="button button--dark">
          Köp <i class="icon icon--cart icon--dark"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="collection__product collection--gradient-3 py-4">
    <div class="container">
      <div class="collection__product-inner">
        <img
          src="/assets/images/products/collection/black-ring.png"
          class="collection__product-image"
        />
        <div
          class="collection__product-headline collection__product-headline--dark"
        >
          Koppar
        </div>
        <div
          class="collection__product-description collection__product-description--dark"
        >
          En ring i kopparfärg fångar ljuset med en värme som påminner om tidlös
          elegans.
        </div>

        <a href="" class="button button--dark">
          Köp <i class="icon icon--cart icon--dark"></i>
        </a>
      </div>
    </div>
  </div>
</div>
