<div class="commercial">
  <div class="commercial__product-video">
    <video class="commercial__mobile" autoplay loop muted playsinline>
      <source
        src="/assets/videos/section/commercial/commercial__mobile.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

    <video class="commercial__desktop" autoplay loop muted playsinline>
      <source
        src="/assets/videos/section/commercial/commercial__desktop.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
