<section class="community">
  <!-- COMMUNITY TEXT -->
  <div class="community__text">Bli en del av gänget</div>

  <!-- GALLERY MOBILE-->
  <div class="community__gallery-container">
    <div class="community__gallery_img_holder holder0">
      <img
        class="community__gallery_img img0"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder1">
      <img
        class="community__gallery_img img1"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder2">
      <img
        class="community__gallery_img img2"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder3">
      <img
        class="community__gallery_img img3"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder4">
      <img
        class="community__gallery_img img4"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder5">
      <img
        class="community__gallery_img img5"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder6">
      <img
        class="community__gallery_img img6"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder7">
      <img
        class="community__gallery_img img7"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder8">
      <img
        class="community__gallery_img img8"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder holder9">
      <img
        class="community__gallery_img img9"
        src="/assets/images/community/img1.png"
      />
    </div>
  </div>

  <!-- GALLERY DESKTOP-->
  <div class="community__gallery-container_desktop">
    <div class="community__gallery_img_holder_desktop holder0">
      <img
        class="community__gallery_img_desktop img0"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder_desktop holder1">
      <img
        class="community__gallery_img_desktop img1"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder_desktop holder2">
      <img
        class="community__gallery_img_desktop img2"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder_desktop holder3">
      <img
        class="community__gallery_img_desktop img3"
        src="/assets/images/community/img1.png"
      />
    </div>
    <div class="community__gallery_img_holder_desktop holder4">
      <img
        class="community__gallery_img_desktop img4"
        src="/assets/images/community/img1.png"
      />
    </div>
  </div>

  <!-- INSTA-LOGO AND BRAND-NAME -->
  <div class="community__socials-brand">
    <img
      class="community__instagram-logo"
      src="/assets/images/community/iconoir_instagram.png"
    />
    <div class="community__brand-text">Kinforma</div>
  </div>
</section>
