
<section class="community">

    <!-- COMMUNITY TEXT -->
    <div class="community__text">Bli en del av gänget</div>

    <!-- GALLERY MOBILE-->
    <div class="community__gallery-container"></div>

    <!-- GALLERY DESKTOP-->
    <div class="community__gallery-container_desktop"></div>


    <!-- INSTA-LOGO AND BRAND-NAME -->
    <div class="community__socials-brand">
        <img class="community__instagram-logo" src="/assets/images/community/iconoir_instagram.png" >
        <div class="community__brand-text">Kinforma</div>
    </div>

</section>

<script type="module" src="/javascript/community.js"></script>
