<section class="discover py-4">
  <div class="container">
    <div class="discover__inner">
      <div class="discover__copy">
        <span class="discover__caption">Första kollektionen:</span>
        <h2 class="discover__heading">Reflektioner</h2>
        <p class="discover__description">
          Upplev en ny dimension av mode med vår senaste kollektion. Designad av
          dig, drivet av teknik, skapat för planeten.
        </p>
      </div>

      <div class="discover__product my-3">
        <img
          src="/assets/images/products/shoe.jpg"
          alt=""
          class="discover__product-img"
        />
      </div>

      <a href="" class="button button--orange">
        Explore <i class="icon icon--arrow icon--orange"></i>
      </a>
    </div>
  </div>
</section>
