<section class="discover py-4">
  <div class="container">
    <div class="discover__inner">
      <div class="discover__copy">
        <span class="discover__caption">Första kollektionen:</span>
        <h2 class="discover__heading">Reflektioner</h2>
        <p class="discover__description">
          Upplev en ny dimension av mode med vår senaste kollektion. Designad av
          dig, drivet av teknik, skapat för planeten.
        </p>
      </div>

      <div class="discover__product my-3">
        <img
          src="/assets/images/products/shoe.jpg"
          alt=""
          class="discover__product-img"
        />
      </div>

      <a href="" class="button button--orange">
        Explore <i class="icon icon--arrow icon--orange"></i>
      </a>

      <div class="discover__product-description">
        Möt skon som räknar dina steg och kommer ihåg vart du har varit med
        hjälp av mapping.
      </div>

      <div class="carousel py-4">
        <div class="carousel__container">
          <div class="carousel__inner">
            <div class="carousel__card">
              <img
                src="/assets/images/carousel/discover-1.jpg"
                class="carousel__card-img"
              />
              <div class="carousel__card-headline">
                Räkna dina steg <i class="icon icon--shoe"></i>
              </div>
              <div class="carousel__card-description">
                Möt skon som räknar dina steg och kommer ihåg vart du har varit
                med hjälp av mapping.
              </div>
            </div>
            <div class="carousel__card">
              <img
                src="/assets/images/carousel/discover-1.jpg"
                class="carousel__card-img"
              />
              <div class="carousel__card-headline">
                Spåra dina känslor <i class="icon icon--cart"></i>
              </div>
              <div class="carousel__card-description">
                Spåra dina känslor och låt din inre rytm inspirera din stil. Vår
                kollektion är skapad för att spegla rörelserna i vardagen, med
                material som formar sig efter dig och färger som fångar
                stämningen. Varje plagg och sko är designad för att följa ditt
                tempo, oavsett om du söker lugn, energi eller balans.
              </div>
            </div>
            <div class="carousel__card">
              <img
                src="/assets/images/carousel/discover-1.jpg"
                class="carousel__card-img"
              />
              <div class="carousel__card-headline">
                Kom ihåg vart du har varit<i class="icon icon--cart"></i>
              </div>
              <div class="carousel__card-description">
                Spåra dina känslor och låt din inre rytm inspirera din stil. Vår
                kollektion är skapad för att spegla rörelserna i vardagen, med
                material som formar sig efter dig och färger som fångar
                stämningen. Varje plagg och sko är designad för att följa ditt
                tempo, oavsett om du söker lugn, energi eller balans.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
