<section class="subscribe py-4">
  <div class="container">
    <div class="subscribe__inner">
      <h2 class="subscribe__heading">Håll dig uppdaterad angående nya släpp</h2>

      <form action="" class="subscribe__form">
        <div class="subscribe__icon">
          <i class="icon icon--mail"></i>
          <input id="email" type="email" placeholder="namn@gmail.com" />
        </div>
        <input type="submit" value="Registera dig" />
      </form>

      <span class="subscribe__note">
        Jag går med på att min mail används till att få nyhetsbrev.
      </span>
    </div>
  </div>
</section>
