.categories {
    &__caption {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.25rem;
    }
    &__category {
        position: relative;
        height: 300px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    &__category-img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;

        z-index: -1;
    }
    &__category-name {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        margin-left: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        i {
            background-color: #fff;
        }
    }
    &__category-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    @media (min-width: 768px) {
        display: none;
    }
}
