.community {

    /* TOP: COMMUNITY-TEXT*/
    // padding: 0.5rem 1rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__text {
        font-size: 1.25rem;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 6%;
    }


    /* GALLERY */
    &__gallery-container {
        height: 75%;
        width: 100%;
        max-width: fit-content;
        overflow-x: auto;
        
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        gap: 0.5rem;
        margin: 1rem;
        padding-left: 1rem;
    }

    &__gallery_img_holder {
    
        border-radius: 2px;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        min-width: fit-content;
        max-height: fit-content;
        overflow: hidden;
    }

    &__gallery_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__gallery-container::-webkit-scrollbar {
        display: none;
    }


    /* BOTTOM: INSTA-LOGO AND BRAND-NAME */
    &__socials-brand {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__instagram-logo{
        max-width: 2rem;
        max-height: 2rem;
    }

    &__brand-text {
        text-transform: uppercase;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 6%;
        margin-left: 0.5rem;
    }

    &__gallery-container_desktop {
        display: none;
    }


    //**** DESKTOP ****//
    @media (min-width: 1200px) {
        min-height: fit-content;

        &__text {
        font-size: 4rem;
        }

        &__gallery-container {
            display: none;
        }

        .holder0 { grid-area: holder0;}
        .holder1 { grid-area: holder1;}
        .holder2 { grid-area: holder2;}
        .holder3 { grid-area: holder3;}
        .holder4 { grid-area: holder4;}

        &__gallery-container_desktop {
            display: block;
            height: 65vh;
            width: 80%;
            margin: 1rem;
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr;
            grid-template-rows: 50% 50%;
            grid-template-areas:
            "holder0 holder1 holder2 holder4"
            "holder0 holder3 holder3 holder4";
            gap: 10px;
        }

        &__gallery_img_holder_desktop {
            background-color: blue;
            width: 100%;
            max-height: 100%;
        }

        &__gallery_img_desktop {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }


        &__instagram-logo{
            max-width: 3rem;
            max-height: 3rem;
        }

        &__brand-text {
            text-transform: lowercase;
            font-size: 2.625rem;
            margin-left: 0.5rem;
        }
    }
}


