.discover {
    position: relative;
    &__copy {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .button {
        margin-top: 1rem;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        font-size: 1.15rem;
    }

    &__heading {
        font-weight: 700;
        font-size: 44px;
        font-family: "Oxanium", sans-serif;
        text-transform: uppercase;
    }

    &__copy {
        text-align: center;
        max-width: 700px;
        margin-bottom: 50px;
    }
}
