.discover {
    position: relative;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__caption,
    &__heading {
        font-family: "Oxanium", sans-serif;
        text-transform: uppercase;
    }

    &__caption {
        font-weight: 500;
    }

    &__heading {
        font-weight: 700;
        font-size: 44px;
    }

    &__copy {
        text-align: center;
        max-width: 700px;
        margin-bottom: 50px;
    }

    &__product-img {
        width: 300px;
    }

    &__product-description {
        text-align: center;
        margin-top: 1.5rem;
        color: #282829;
    }

    &__shadow-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }

    &__shadow {
        position: absolute;
        z-index: -1;
        bottom: -20%;
        max-height: 130%;
        left: 50%;
        transform: translateX(-50%);
    }
}
