.hero {
    width: 100%;
    height: calc(100vh - 6.5rem);
    background: url("/assets/images/sections/hero/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    &__copy {
        margin-bottom: 1.8rem;
    }

    &__heading,
    &__description {
        font-family: "Oxanium", sans-serif;
        text-transform: uppercase;
    }

    &__heading {
        font-size: 6rem;
        font-weight: 700;
        line-height: 6rem;
        color: #282829;
    }

    &__description {
        font-weight: 600;
        font-size: 1.25rem;
        color: #ff7b2c;
    }

    @media (min-width: 768px) {
        align-items: center;
        background: url("/assets/images/sections/hero/hero.jpg");
        background-size: cover;
        background-position: right -40px;
        background-repeat: no-repeat;

        &__inner {
            margin-bottom: 0;
        }

        &__copy {
            font-size: 2rem;
        }
    }
}
