<div class="discount">
  <div class="discount__container">
    <div class="discount__button">15% RABATT!</div>
    <div class="discount__modal">
      <div class="discount__heading">Få 15% rabatt på ditt första köp!</div>
      <form action="" class="discount__form">
        <div class="discount__icon">
          <i class="icon icon--mail"></i>
          <input id="email" type="email" placeholder="namn@gmail.com" />
        </div>
        <input type="submit" value="Registera dig" />
      </form>

      <div class="discount__caption">
        Jag går med på att min mail används till att få nyhetsbrev.
      </div>
    </div>
  </div>
</div>
