.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #e1e1e1;
    padding: 0.75rem 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #1e1e1f;

    &--orange {
        background-color: #ff7b2c;
        &:hover {
            background-color: #1e1e1f;
            color: #ff7b2c;
            .icon {
                background-color: #ff7b2c;
            }
        }
    }

    &--dark {
        color: #ffe5d5;
        background-color: #1e1e1f;
        border: 1px solid #ffe5d5;
    }
}
