.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    &--center {
        display: flex;
        justify-content: center;
    }
    @media (min-width: 768px) {
        padding: 0 2rem;
    }

    @media (min-width: 1024px) {
        padding: 0 3rem;
    }
}
