.icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #282829;
    display: block;

    &--sm {
        width: 1rem;
        height: 1rem;
    }

    &--arrow {
        mask: url("/assets/images/icons/arrow.svg") no-repeat center;
        mask-size: contain;
    }

    &--search {
        mask: url("/assets/images/icons/search.svg") no-repeat center;
        mask-size: contain;
    }

    &--cart {
        mask: url("/assets/images/icons/cart.svg") no-repeat center;
        mask-size: contain;
    }

    &--cross {
        mask: url("/assets/images/icons/cross.svg") no-repeat center;
        mask-size: contain;
    }

    &--plus {
        mask: url("/assets/images/icons/plus.svg") no-repeat center;
        mask-size: contain;
        background-color: #bdbebe;
    }

    &--mail {
        mask: url("/assets/images/icons/mail.svg") no-repeat center;
        mask-size: contain;
        background-color: #bdbebe;
    }

    &--shoe {
        mask: url("/assets/images/icons/shoe.svg") no-repeat center;
        mask-size: contain;
    }

    &--dark {
        background-color: #ffe5d5;
    }
}
