.nav {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;

    &--active {
        transform: translateX(0);
    }

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: #fff;

    &__list,
    &__sub-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list {
        margin-top: 2rem;
    }

    &__sub-list {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    &__sub-link,
    &__link {
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        color: #1e1e1f;
    }

    &__sub-link {
        line-height: 2rem;
    }

    &__item {
        border-bottom: 0.075rem solid #1e1e1f;
        padding-bottom: 0.75rem;
        margin-bottom: 1.5rem;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }

    &__close {
        cursor: pointer;
        margin-left: auto;
        margin-top: 2rem;
    }

    @media (min-width: 768px) {
        width: 40vw;
        border-right: 1px solid #1e1e1f;
    }
}
